body {
  font-family: "Segoe UI", sans-serif;
  background-color: #1b1a1a;
  color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1b1a1a;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #e862c6;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: #1b1a1a;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #37e745;
}

ul, ol {
  margin-left: 2rem;
}

footer {
  background-color: #1b1a1a;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}

img {
  padding: inherit;
  margin:auto;
  display: block;
}

.win {
  text-align: center;
  background-color: #171717;
  padding: inherit;
  margin:auto;
  display: block;
  box-shadow: 0 0 15px #37e745;
  
}
.winut {
  color: #e862c6;
  background-color: #171717;
  font-size: 48px;
  text-decoration: none;

}
.winut:hover {
  text-decoration: underline;
}