body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #202122;
  margin: 0;
  padding: 0;
}

header {
  background-color: #c8ccd1;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #0645ad;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #2a4b8d;
}

ul, ol {
  margin-left: 2rem;
}

footer {
  background-color: #eaeaea;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}

img {
  padding: inherit;
  margin:auto;
  width: 200px;
  display: block;
}